.current {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right center;
}
.asc { 
  background-image: url(/assets/up_arrow.gif); 
}

.desc { 
	background-image: url(/assets/down_arrow.gif); 
}