  <!-- Footer -->
  <div class="footer">
    <div class="footer-left">
      <div class="logo"><img src="/assets/footer-logo.jpg" width="66" height="41" alt=""/></div>
    </div>
    <div class="footer-center">
      <h4>Sign up for our newsletter:</h4>
      <div class="signup">
        <input type="text" placeholder="Email" value=""/>
      </div>
      <div class="signupbtn">
        <input type="button" value="Sign Up"/>
      </div>
    </div>
    <div class="footer-right">
      <h4>We accept all major credit cards.</h4>
      <div class="visacard">
        <div class="visacard-div"><a href="#"><img src="/assets/PayPal.png"  alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/Visa.png" alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/MasterCard.png" alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/Discover.png" alt=""/></a></div>
      </div>
      <div class="socilimg">
        <h4>Stay connected with us!</h4>
        <div class="socilimg-div"><a href="#"><img src="/assets/facebook.png"  alt=""/> </a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/twitter.png" alt=""/> </a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/pinterest.png" alt=""/></a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/instagram.png" alt=""/> </a></div>
      </div>
    </div>
    <div class="footer-left">
      <div class="link"><a href="#">My Fitly</a> <a href="#">Messages</a> <a href="#">Menu</a> <a href="#" class="inactivepipe">Settings</a> <br>
        <a href="#">FAQ</a> <a href="#">Testimonials</a> <a href="#">Our Team</a> <a href="#">Blog</a></div>
      <div class="copyright">©2015 Fitly, Inc. All Rights Reserved.</div>
    </div>
  </div>
  <!-- Footer close --> 
