<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Fitly</title>

<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link href="/assets/fonts.css" rel="stylesheet" type="text/css">
<link href="/assets/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/assets/style.css" rel="stylesheet" type="text/css">
<link href="/assets/media.css" rel="stylesheet" type="text/css">

<script src="/assets/placeholders.min.js"></script>
<script src="/assets/jquery-1.11.2.js"></script>
<script src="/assets/jquery-1.6.min.js"></script> 
<script src="/assets/jquery.screwdefaultbuttonsV2.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/modal.jquery.js"></script>
<!--[if IE]>
<script src="/assets/html5.js"></script>
<link href="/assets/ie.css" rel="stylesheet" type="text/css">
<![endif]-->
