<ul>
	<li><a href="/">HOME</a></li>
	<li><a href="/#howItWorks">HOW IT WORKS</a></li>
	<li><a href="/#benefits">BENEFITS</a></li>
	<li><%= link_to "PLANS & PRICING", page_path('pricing') %></li>
	<li><%= link_to "SIGNUP", subscription_index_path %></li>
	<li><a href="/account">SIGNIN</a></li>
</ul>
