| Share us with family and friends
br
= facebook_link_to image_tag("share-facebook.png", alt: "Like us!", class: "share-icon")
= twitter_link_to image_tag("share-twitter.png", alt: "Tweet us!", class: "share-icon")
= pinterest_link_to image_tag("share-pinterest.png", alt: "Pin us!", class: "share-icon")
/ a href="#"
/   = image_tag "share-google.png", alt: "+1 us!", class: "share-icon"
= instagram_link_to image_tag("share-instagram.png", alt: "Instagram us!", class: "share-icon")