<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fitly® - Delicious. Delivered.™</title>

    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link href="/assets/fonts.css" rel="stylesheet" type="text/css">
    <link href="/assets/boilerplate.css" rel="stylesheet" type="text/css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/media.css" rel="stylesheet" type="text/css">
    <link href="/assets/Shared.css" rel="stylesheet" type="text/css">
    <link href="/assets/Landing.css" rel="stylesheet" type="text/css">

    <!--[if IE]>
        <script src="/assets/html5.js"></script>
        <link href="/assets/ie.css" rel="stylesheet" type="text/css">
    <![endif]-->

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/IEFixes.css" />
    <![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/assets/IE7And8Fixes.css" />
    <![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" href="/assets/IE7Fixes.css" />
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/placeholders.min.js"></script>
    <script src="/assets/jquery.screwdefaultbuttonsV2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop() > 650) {
                    $(".backToTop").fadeIn(300);
                }
                else {
                    $(".backToTop").fadeOut(300);
                }

                if ($(this).scrollTop() > 50) {
                    $(".scrollingHeaderBackground").fadeIn(400);
                    $(".defaultHeaderBackground").fadeOut(400);

                    $(".headerLogo").fadeOut(400);

                    $(".scrollingCart").fadeIn(400);
                    $(".defaultCart").hide();

                    $(".landingHeaderMenu").addClass("scrolling");
                }
                else {
                    $(".defaultHeaderBackground").fadeIn(400);
                    $(".scrollingHeaderBackground").fadeOut(400);

                    $(".headerLogo").fadeIn(400);

                    $(".defaultCart").fadeIn(400);
                    $(".scrollingCart").hide();

                    $(".landingHeaderMenu").removeClass("scrolling");
                }
            });
        });

        function scrollToTop() {
            hideMobileMenu();

            $("html, body").animate({
                scrollTop: 0
            }, 500);
        }

        function scrollToHowItWorks() {
            $("html, body").animate({
                scrollTop: $("#howItWorks").offset().top
            }, 500);
        }

        function mobileScrollToHowItWorks() {
            hideMobileMenu();

            $("html, body").animate({
                scrollTop: $("#howItWorks").offset().top + 3
            }, 500);
        }

        function scrollToBenefits() {
            $("html, body").animate({
                scrollTop: $("#benefits").offset().top
            }, 700);
        }

        function mobileScrollToBenefits() {
            hideMobileMenu();

            $("html, body").animate({
                scrollTop: $("#benefits").offset().top + 3
            }, 700);
        }

        function hideMobileMenu() {
            if ($(".landingHeaderMobileExpandedMenu").is(":visible")) {
                $(".landingHeaderMobileExpandedMenu .expandedMenu").animate(
                    { left: -335 },
                    {
                        duration: 100,
                        complete: function () {
                            $(".landingHeaderMobileExpandedMenu").toggle();
                        }
                    });
            }
        }

        function toggleMobileMenu() {
            if (!$(".landingHeaderMobileExpandedMenu").is(":visible")) {
                $(".landingHeaderMobileExpandedMenu").toggle();
                $(".landingHeaderMobileExpandedMenu .expandedMenu").animate({ left: 0 }, 200);
            }
            else {
                $(".landingHeaderMobileExpandedMenu .expandedMenu").animate(
                    { left: -335 },
                    {
                        duration: 100,
                        complete: function () {
                            $(".landingHeaderMobileExpandedMenu").toggle();
                        }
                    });
            }
        }

        function toggleVideoModal() {
            $(".howItWorksModalContainer").toggle();

            if ($(".howItWorksModalContainer").is(":visible")) {
                $(".howItWorksContainer").css("z-index", "2");
                $("#videoplay")[0].src += "&autoplay=1";
            }
            else {
                $(".howItWorksContainer").css("z-index", "1");
            }
        }
    </script>
</head>
<body>
    <div id="container"> 
        <div class="backToTop" onclick="scrollToTop();">
        </div>
        <%= render "layouts/shared/navigation_header" %>
    </div>
    <h1>You have been signed up for Fitly newsletter</h1>
    <p>You will receive emails from Fitly regarding updates and new recipes.</p>
</body>
</html>