body {
  margin: 0;
  @media (min-width: 0) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
}

@mixin text-shadow ($shadow-color) {
  text-shadow: 1px 1px 0 $shadow-color;
  filter: dropshadow(color=$shadow-color, offx=1, offy=1);
}

@mixin three-d {
 text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
}

@mixin three-d-blue {
   text-shadow: 0 1px 0 #0e8ce7,
                0 2px 0 #0e8be5,
                0 3px 0 #0d83d9,
                0 4px 0 #0d7fd2,
                0 5px 0 #0c75c1,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

@mixin three-d-hover{
  position: relative;
  top: -1px;
  color:#fff;
  text-shadow:0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 0 #a9a9a9,
              0 7px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

}

@mixin three-d-down {
  position: relative;
  top: 3px;
  color:#fff;
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #bbb,
                0 3px 0 #b9b9b9,
                0 6px 1px rgba(0,0,0,0),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.1),
                0 3px 5px rgba(0,0,0,.1),
                0 5px 10px rgba(0,0,0,.1),
                0 10px 10px rgba(0,0,0,.1),
                0 20px 20px rgba(0,0,0,.1);
}

/* - HEADER
---------------------------------------------- */
.sticky {
  position: fixed !important;
  top: 0          !important;
}

/* SOCIAL MEDIA
------------------------------------------------------*/

.social-media {
  text-align: center;
  margin-left: -75px;
  img{
    margin:10px;
  }
}

.fb-like {
  margin-right:20px;
}
#pinterest {
  display: inline-block;
  position: relative;
  top: -7px;
}


h1, h2, h3, h4, h5, h6{
  font-family:$font-bold,"Open Sans","Helvetica","Arial";
  margin:0.2em 0 0.7em 0;
  font-weight:400;
  letter-spacing:0.03em;
  /* text-shadow:1px 1px 3px #333333 ; */
}

h1{ // h1's used as section title
  font-size:80px;
  color:$h1-color;
}