/* Variables
----------------------------------------- */

// Colors
$header-txt:#FFFFFF;
$action-color:#EE5F5B;
$action-hover:#FF0000;
$h1-color:#FFFFFF;
$h2-color:#FFFFFF;
$yellow:#FECD5F;
$darkyellow:#F5AC0A;
$blue:#aadfef;
$darkblue:#3399CC;
$green:#81CBB3;
$lightgreen:#CCFFFF;
$darkgreen:#4BAA88;
$footer-heading:rgb(82, 165, 255);

// Carousel Heights
// This is both the height of the carousel and the image
$carousel-height: 760px;
$carousel-height-medium:300px;
$carousel-height-small: 320px;
$carousel-height-x-small: 425px;

$igg-height:80px;

$visor-height: 120px;
$visor-logo-height: 100px;
