section#splash
    h1 The world's first, fresh meal kit solution for people who need to Lose Weight & Prevent or manage Type 2 Diabetes.
    aside As low as <span class="price">$5.99</span> per plate!
    a.redButton href="#" onclick="scrollToSignupForm(); return false;" Get Cooking!
