<div class="popupbox">
	<div class="righticon"><img src="/assets/right-tick.png" alt=""/></div>
	<div class="popupheading">Your preferences have been saved!</div>
	<div class="popupheading popupheading2">Your Dietition will use your preferences to create a custom
	meal plan for you! Rememer, you can edit your Preferences
	at any time from the “Preferences” section on your Dashboard.</div>
	<div class="choosebtn" style="display:inline-block;"><a href="/account">Got it!</a></div>
  </div>