 <div class="popupbox">
<div class="righticon"><img src="/assets/right-tick.png" alt=""/></div>
    <div class="popupheading">Congrats, you’re now signed up!</div>
    <p>Your profile is 25% complete!</p>
    <div class="progress-bar">
      <div class="completebar" style="width:25%;"></div>
    </div>
    <div class="popupheading popupheading2">Would you like to start customizing your Fitly <br>solution now? It’s fast and easy!</div>
    <div class="choosebtn" style="display:inline-block;">
    	<%= link_to "Let's Customize", subscription_path(:dietary_needs) %>
    </div>
    <div class="letterlink">
    	<%= link_to "Later", account_path %>
    </div>
   
</div>