<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Fitly</title>
<link href="css/fonts.css" rel="stylesheet" type="text/css">
<link href="css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<script src="js/placeholders.min.js"></script>
<script src="js/jquery-1.11.2.js"></script>

<!--[if IE]>
<script src="js/html5.js"></script>
<link href="css/ie.css" rel="stylesheet" type="text/css">
<![endif]-->

</head>

<body>
<div id="container"> 
  <!-- top header -->
 <div class="topcontainer">
    <div class="leftsocilicon">
      <div><a href="#"><img src="/assets/f1.jpg" alt=""/></a></div>
      <div><a href="#"><img src="/assets/tw2.jpg" alt=""/></a></div>
      <div><a href="#"><img src="/assets/printrist.jpg" alt=""/></a></div>
      <div><a href="#"><img src="/assets/instragram.jpg" alt=""/></a></div>
    </div>
    <div class="rightblock rightblock1">
      <div class="callus callus1 callus2"><img src="/assets/call.jpg" alt=""/>CALL US  <span>: 1-844-GET-FITLY(438-3485)</span></div>
    </div>
  </div>
  <!-- top header close --> 
  <!-- menu link -->
 <div id="menu">
    <div class="logo"><a href="#"><img src="/assets/fitly-logo.jpg" alt=""/></a></div>
    <div class="toprightiocns">
      <div class="topicons"><img src="/assets/notifaction.png"  alt=""/></div>
      <div class="topicons"><img src="/assets/setting.png" alt=""/></div>
      <div class="topicons"><img src="/assets/icon1.png"  alt=""/></div>
    </div>
    <div class="menulinks menulinks1">
      <ul>
        <li><a href="#">MY FITLY</a></li>
        <li><a href="#">MESSAGES
          <div>1</div>
          </a></li>
          <li><a href="#">MENU</a></li>
        
      </ul>
    </div>
    <!-- responsive menu -->
    	 <div class="mobilemenu">
         <img src="/assets/responsivemenuicon.png"  onClick="$('.menutoggle').slideToggle();" alt=""/>
         <div class="menutoggle">
    <ul>
        <li><a href="#">MY FITLY</a></li>
        <li><a href="#">MESSAGES
          <div>1</div>
          </a></li>
         <li><a href="#">MENU</a></li>
      </ul>
      </div>
    </div>
    <!-- responsive menu close-->
  </div>
  <!-- menu link --> 
  
  <!-- Get Started container  -->
  <div class="get-started-container">
   <div style="width:100%; height:5px;"> </div>
    <h1 class="h1-float-left"><a href="/account">< Back to Dashboard</a></h1>     
    <div class="contentcontainer" style="margin-bottom:20px;">
      <div class="tab">
        <div class="tab1"><a href="<%= wizard_path(:willingness_to_change) %>" class="rightactive">1. <span>Willingness to Change</span></a></div>
        <div class="tab1"><a href="<%= wizard_path(:medical_history) %>" class="rightactive">2. <span>Past Medical & Surgical History</span</a></div>
        <div class="tab1"><a href="<%= wizard_path(:nutrition_goals) %>" class="active">3. <span>My Food/Nutrition-Related Goals</span</a></div>
      </div>
      <!-- Billing Information -->
      <div class="spacer"></div>
      <div class="innerbody innerbody-extra-width">
        <form action="#" method="post">
          <div class="delvinf-container delvinf-container-extra-width">
           
          <h1 class="lineheight">My food- and nutrition-related goals are:</h1>
          <div style="width:100%;">
            <textarea class="textarea1" placeholder="Lorem ipsum dolor sit amet, est nibh morbi, pellentesque volutpat, porttitor diam velit mirhoncus iusto.Pharetra erat facilisi, sit lobortis"></textarea>
          </div>
        </form>
      </div>
      <!-- Billing Information -->
    
    </div>
     <div class="back-nextbtn">
        <div class="backbtn"><a href="#">Back</a></div>
        <div class="nextbtn"> <a href="#">Next</a></div>
      </div>
  </div>
  <!-- Get Started container close --> 
  
 
  
</div>
<!-- Footer -->
  <div class="footer">
    <div class="footer-left">
      <div class="logo"><img src="/assets/footer-logo.jpg" width="66" height="41" alt=""/></div>
       
    </div>
    <div class="footer-center">
      <h4>Sign up for our newsletter:</h4>
      <div class="signup">
        <input type="text" placeholder="Email" value=""/>
      </div>
      <div class="signupbtn">
        <input type="button" value="Sign Up"/>
      </div>
    </div>
    <div class="footer-right">
      <h4>We accept all major credit cards.</h4>
      <div class="visacard">
        <div class="visacard-div"><a href="#"><img src="/assets/PayPal.png"  alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/Visa.png" alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/MasterCard.png" alt=""/> </a></div>
        <div class="visacard-div"><a href="#"><img src="/assets/Discover.png" alt=""/></a></div>
      </div>
      <div class="socilimg">
        <h4>Stay connected with us!</h4>
        <div class="socilimg-div"><a href="#"><img src="/assets/fb01.png" alt=""/> </a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/tw01.png" alt=""/> </a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/pint01.png" alt=""/></a></div>
        <div class="socilimg-div"><a href="#"><img src="/assets/ins01.png" alt=""/> </a></div>
      </div>
    </div>
     <div class="footer-left">
      
      <div class="link"><a href="#">My Fitly</a> <a href="#">Messages</a> <a href="#">Menu</a> <a href="#" class="inactivepipe">Settings</a> <br>
        <a href="#">FAQ</a> <a href="#">Testimonials</a> <a href="#">Our Team</a> <a href="#">Blog</a></div>
      <div class="copyright">©2015 Fitly, Inc. All Rights Reserved.</div>
    </div>
  </div>
  <!-- Footer close --> 
</body>
</html>
