<% content_for :header do %>
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 985025795;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "_mhzCJ7j1FYQg5rZ1QM";
    var google_conversion_value = "<%=@order.price%>";
    var google_conversion_currency = "USD";
    var google_remarketing_only = false;
    /* ]]> */
  </script>
  
  <script src="//www.googleadservices.com/pagead/conversion.js" type="text/javascript"></script>

  <noscript>
    <div style="display:inline;">
      <img alt="" height="1" src="<%=adword_url.html_safe%>" style="border-style:none;" width="1" />
    </div>
  </noscript>
<% end %>
