/*-------------------
Order History
-------------------*/
@import '_variables';


.orders-controller.index-action {
    main {
        ul.orders {
            & > li {
                h2 {
                    a {
                        color: rgb(255,255,255);
                    }
                }
                dl {
                    dd:nth-child(4) {
                        width: 100%;
                        text-align: right;
                    }
                    ul {
                        li {
                            margin: 0 0 10px 16px;

                            ul {
                                padding-top: 4px;
                                
                                li {
                                    margin-left: 20px;
                                    list-style-type: square;
                                }
                            }
                        }
                    }
                }
                dd.recipes {
                    float: none;
                    clear: both;

                    a {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    footer {
        clear: both;
    }




    //////////////////////////////////////////////////////////////////////////
    ///////  First Breakpoint (anything larger than a phone): > 330px  ///////
    //////////////////////////////////////////////////////////////////////////

    @media only screen and ( min-width: 330px ) {



    }




    //////////////////////////////////////////////////////////////////////////
    ///////          Second Breakpoint (small tablet): > 500px         ///////
    //////////////////////////////////////////////////////////////////////////

    @media only screen and ( min-width: 500px ) {
        main {
            ul.orders {
                & > li {
                    dl {
                        dd:nth-child(4) {
                            width: auto;
                            text-align: initial;
                        }
                    }
                }
            }
        }
    }




    //////////////////////////////////////////////////////////////////////////
    ///////          Third Breakpoint (large tablet): > 740px          ///////
    //////////////////////////////////////////////////////////////////////////

    @media only screen and ( min-width: 740px ) {
        main {
            ul.orders {
                & > li {
                    float: left;
                    width: 50%;
                    min-height: 400px;
                    border-top: 1px solid #b1b1b1;
                    border-bottom: 1px solid #b1b1b1;

                    &:nth-child(odd) {
                        border-right: 1px solid #b1b1b1;
                    }

                    dl {
                        dd:nth-child(4) {
                            width: 100%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }




    //////////////////////////////////////////////////////////////////////////
    ///////            Fourth Breakpoint (desktop): > 960px            ///////
    //////////////////////////////////////////////////////////////////////////

    @media only screen and ( min-width: 960px ) {
        main {
            ul.orders {
                & > li {
                    dl {
                        dd:nth-child(4) {
                            width: auto;
                            text-align: initial;
                        }
                    }
                }
            }
        }
    }

}
