<!doctype html>
<html>
<head>
  <%= render "layouts/shared/head_includes" %>
</head>

<body>
  <script type="text/javascript">
    $(function(){
      
      $('input:checkbox').screwDefaultButtons({
        image: 'url("/assets/checkboxvSmall.jpg")',
        width: 28,
        height: 28
      });

    });
  </script>
<div id="container"> 
  <%= render "layouts/shared/navigation_header_authenticated" %>
  
  <!-- Get Started container  -->
  <div class="get-started-container">
  <div style="width:100%; height:5px;"> </div>
    <h1 class="small"><a href="/account">< Back to Dashboard</a></h1>
    <div class="contentcontainer">
      <div class="tab">
        <div class="tab1"><a href="#" class="rightactive">1. <span>Willingness to Change</span></a></div>
        <div class="tab1"><a href="#" class="active" >2. <span>Past Medical & Surgical History</span></a></div>
        <div class="tab1"><a href="#" >3. <span>My Food/Nutrition-Related Goals</span></a></div>
      </div>
      <%= form_tag(account_path, :method => :put) do %>
      <div class="spacer"></div>
      <div class="innerbody innerbody-extra-width">
        <form action="#" method="post">
          <div class="delvinf-container delvinf-container-extra-width" align="center">
            <h1>Select all that apply:</h1>
            <div class="res-width">
              <div style="float:left;">
                <div align="left">
                  <input type="checkbox" name="user[medical_history][allergies]" id="ex2_a">
                  <label for="ex2_a">Allergies</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][cancer]" id="ex2_a">
                  <label for="ex2_a">Cancer</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][crohn]" id="ex2_a">
                  <label for="ex2_a">Crohn’s Ulcerative Colitis</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][diabetes]" id="ex2_a">
                  <label for="ex2_a">Diabetes</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][food_allergies]" id="ex2_a">
                  <label for="ex2_a">Food Allergies</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][gout]" id="ex2_a">
                  <label for="ex2_a">Gout</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][high_blood_pressure]" id="ex2_a">
                  <label for="ex2_a">High Blood Pressure</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][irritable_bowl]" id="ex2_a">
                  <label for="ex2_a">Irritable Bowl Syndrome</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][liver_disease]" id="ex2_a">
                  <label for="ex2_a">Liver Disease</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][polycystic_ovary]" id="ex2_a">
                  <label for="ex2_a">Polycystic Ovarian Syndrome</label>
                </div>
              </div>
              <div class="div-float-left" style="float:right;">
                <div align="left">
                  <input type="checkbox" name="user[medical_history][auto_immune]" id="ex2_a">
                  <label for="ex2_a">Autoimmune Condition</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][chronic_fatigue]" id="ex2_a">
                  <label for="ex2_a">Chronic Fatique Syndrome</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][depression]" id="ex2_a">
                  <label for="ex2_a">Depression</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][fibromyalgia]" id="ex2_a">
                  <label for="ex2_a">Fibromyalgia</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][gallbladder_disease]" id="ex2_a">
                  <label for="ex2_a">Gallbladder Disease</label>
                </div>
                <div  align="left">
                  <input type="checkbox" name="user[medical_history][heart_disease]" id="ex2_a">
                  <label for="ex2_a">Heart Disease</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][heart_cholesterol]" id="ex2_a">
                  <label for="ex2_a">High Cholesterol/Triglycerides</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][kidney_disease]" id="ex2_a">
                  <label for="ex2_a">Kidney Disease</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][osteoporosis]" id="ex2_a">
                  <label for="ex2_a">Osteoporosis</label>
                </div>
                <div align="left">
                  <input type="checkbox" name="user[medical_history][thyroid]" id="ex2_a">
                  <label for="ex2_a">Thyroid Disease</label>
                </div>
              </div>
              
              <textarea id="textarea" name="user[medical_history][other]" class="textarea1" style="width:100% !important; margin-top:10px;" placeholder="Other (Please Specify)"></textarea>
            </div>
          </div>
        </div>
        <div class="back-nextbtn2">
          <div class="backbtn">
            <input type="submit" value="Save" />
          </div>
          <div class="canclebtn"> <a href="#">Cancel</a></div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Get Started container close --> 
  
  <%= render "layouts/shared/footer" %>
  
</div>
</body>
</html>
